<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">

  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.6.0/echarts-en.min.js"></script>

  <style>
    .form-control-inline {
      min-width: 0;
      width: auto;
      display: inline;
    }
  </style>

  <script type="text/javascript">
    function validate() {

      var inputPassword = document.getElementById("inputPassword").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      if (inputPassword == confirmPassword) {
        return true;
      } else {
        alert("Passwords don't match");
        return false;
      }
    }
  </script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="row">
          <img src="{% static 'iitblogo.png' %}" height=35 width=35 class="d-inline-block align-top"/>
          <div class="sidebar-brand-text mx-3">Arvind's Blog</div>
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Charts -->
      {% if request.path == "/"  %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span></a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="fas fa-fw fa-home"></i>
          <span>Home</span></a>
      </li>

      {% endif %}

      <!-- Nav Item - Dashboard -->
      {% if request.path == "/userblog/" %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'userblog' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>My Dashboard</span></a>
      </li>

      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'userblog' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>My Dashboard</span></a>
      </li>

      {% endif %}

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>


            <!-- Nav Item - User Information -->
            {% if user.is_authenticated %}

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 medium">{{ user.get_full_name }}</span>
                <i class="fas fa-chevron-down fa-fw"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

            {% else %}
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 fas fa-user fasd-none d-lg-inline text-gray-600 medium"></span>
                <i class="fas fa-chevron-down fa-fw"></i>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">
                  <i class="fas fa-sm fa-fw mr-2 text-gray-400"></i>
                  Login
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#signupModal">
                  <i class="fas fa-sm fa-fw mr-2 text-gray-400"></i>
                  Signup
                </a>
              </div>
            </li>

            {% endif %}

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">



        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

      </div>
      <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="nav-item nav-link" href="javascript:{document.getElementById('logout').submit()}">Logout</a>
            <form id="logout" method="POST" action="{% url 'logout' %}">
              {% csrf_token %}
              <input type="hidden" />
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- Login Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            {% if error %}
            {{ error }}
            <br />
            {% endif %}

            <br />
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control form-control-inline" placeholder="Username" name="username" required autofocus />

            <br />
            <br />

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputLoginPassword" class="form-control form-control-inline" placeholder="Password" name="password" required />

            <br />
            <br />

            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary btn-block form-control-inline" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Signup Modal-->
    <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}

            {% if error %}
            {{ error }}
            <br />
            {% endif %}

            <br />
            <label for="inputLastName" class="sr-only">Last Name</label>
            <input type="text" id="inputLastName" class="form-control form-control-inline" placeholder="First Name" name="firstname" required autofocus />

            <br />
            <br />

            <label for="inputFirstName" class="sr-only">First Name</label>
            <input type="text" id="inputFirstName" class="form-control form-control-inline" placeholder="Last Name" name="lastname" required />

            <br />
            <br />

            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" class="form-control form-control-inline" placeholder="Username" name="username" required />

            <br />
            <br />

            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control form-control-inline" placeholder="Password" name="password" required />

            <br />
            <br />

            <label for="inputConfirmPassword" class="sr-only">ConfirmPassword</label>
            <input type="password" id="confirmPassword" class="form-control form-control-inline" placeholder="Confirm Password" name="confirmpassword" required />
            <br />
            <br />

            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <button class="btn btn-primary form-control-inline" type="submit" onclick="return validate()">Sign Up</button>
            </div>

          </form>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <!-- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> -->

    <!-- Page level custom scripts -->
    <!-- <script src="{% static 'js/demo/chart-area-demo.js' %}"></script> -->
    <!-- <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script> -->

</body>

</html>
